<% @sales.each do |sale| %>
  <p> 
    Codigo: <%= sale.cod%> 
    Detalle: <%= sale.detail%> 
    Categoria: <%= sale.category%> 
    Valor: <%= sale.value%>
    Descuente:  <%= sale.discount%>
    Excento de IVA: 
    <h4>Total: <%= sale.total%> </h4>
  </p>  
  <br>
<% end %> 